<p id="notice"><%= notice %></p>

<p>
  <b>Trail:</b>
  <%= @bookmark.trail_id %>
</p>

<p>
  <b>User:</b>
  <%= @bookmark.user_id %>
</p>

<p>
  <b>Completed:</b>
  <%= @bookmark.completed %>
</p>

<p>
  <b>Favourited:</b>
  <%= @bookmark.favourited %>
</p>

<p>
  <b>Rating:</b>
  <%= @bookmark.rating %>
</p>


<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
