<h1>Listing trails</h1>

<table>
  <tr>
    <th>Name</th>
    <th>County</th>
    <th>Postcode</th>
    <th>Description</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Rating</th>
    <th>Distance</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trails.each do |trail| %>
  <tr>
    <td><%= trail.name %></td>
    <td><%= trail.county %></td>
    <td><%= trail.postcode %></td>
    <td><%= trail.description %></td>
    <td><%= trail.lat %></td>
    <td><%= trail.lng %></td>
    <td><%= trail.rating %></td>
    <td><%= trail.distance %></td>
    <td><%= trail.user_id %></td>
    <td><%= link_to 'Show', trail %></td>
    <td><%= link_to 'Edit', edit_trail_path(trail) %></td>
    <td><%= link_to 'Destroy', trail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div class="main">
              <div class="periscope">
                <h1 class="trailname"></h1>
              </div>

              <div class="bendychair clearfix">

                <div class="sidebarthin">



                </div>
                <div class="trailcontentpassive">
                  <div class="everytrail">
                    <% @trails.each do |trail| %>
                    <div class="index-photobox column-32">
                      <a href="trail.html"><img src="https://calderscenic.s3.amazonaws.com/uploads/photo/image/2/frontpage_tod1.jpg"></a>
                      <div class="everytrail_photofooter">
                        <p class="everytrail_photofooter_name"><a href="trail.html"><%= trail.name %></a> </p>
                        <p class="everytrail_photofooter_county"><%= trail.county %></p>
                      </div>
                    </div>
<%end%>

            
  

                </div>

              </div>
              <div class="footer">

                <div class="big">scen.ic</div>

                <div class="footerlinks column-100">
                  <ul class="column-75">
                   <li><a href="newtrail.html">Add New</a></li><li><a href="map.html">Map</a></li><li><a class="active" href="trailsindex.html">Trails</a></li><li><a href="profile.html">Profile</a></li></ul></div>
                   <div class="whoami column-32">
                    garethrobertlee@gmail.com<br>
                    www.salterhebble.com
                  </div>
                  <div class="whoami column-32">
                    made in todmorden and honley, 2014
                  </div>

                  <ul class="socials">
                    <a class="lowerlink" href="http://www.twitter.com/crcvch"><i class="fa fa-twitter fa-2x"></i></a>
                    <a class="lowerlink" href="https://github.com/cerico"><i class="fa fa-github fa-2x"></i></a>
                    <a class="lowerlink" href="https://www.linkedin.com/in/garethrobertlee"><i class="fa fa-linkedin fa-2x"></i></a>
                    <a class="lowerlink" href="https://soundcloud.com/crcvch"><i class="fa fa-soundcloud fa-2x"></i></a>
                  </ul>
                </div>
              </div>

<%= link_to 'New Trail', new_trail_path %>
