<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @photo.user_id %>
</p>

<p>
  <b>Trail:</b>
  <%= @photo.trail_id %>
</p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Image:</b>
  <%= @photo.image %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
