<!DOCTYPE html>
<html>
<head>
  <title>Pennine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="backgroundimage">
    <%= image_tag("j14.jpg") %>
  </div>
  <div class="background">
   <div class="header">
    <div class="navleft" ><!-- for tablets-->
      <a class="btn-navbar dark" href="#" class="hamburger hamInactive">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="phonemenu inactive">
        <nav class="phonelinks" > 
          
            <div class="primary"><%= link_to "new", new_trail_path %></div>
            <div class="secondary">Upload your own trail to the site</div>
          
          <a href="map.html">
            <div class="primary">Map</div>
            <div class="secondary">Systemwide trail map</div>
          </a>
          
            <div class="primary"><%= link_to "trails", trails_path, :class => "active" %></div>
            <div class="secondary">All available trails</div>
         
          <a href="profile.html">
            <div class="primary">My Profile</div>
            <div class="secondary">Bookmarks, Completed and Uploaded Trails</div>
          </a>
          <a href="index.html">
            <div class="primary">Home</div>
            <div class="secondary">Back to home page</div>
          </a>
          <a href="logout.html">
            <div class="primary">Logout</div>
          </a>
        </nav><!-- close of links -->
      </div><!-- close of nav-menu max-width isActive-->
    </div><!-- close of navleft-->


    <ul class="toplinks">
      <li><%= link_to "new", new_trail_path %></li><li><a href="map.html">Map</a></li><li><%= link_to "trails", trails_path, :class => "active" %></li><li><a href="profile.html">Profile</a></li>

 <% if user_signed_in? %>
   <li>
     <%= link_to "sign out", destroy_user_session_path, :method => :delete %>
   </li>

 <% else %>
   
   <li>
     <%= link_to "sign in", user_omniauth_authorize_path(:google_oauth2)%>
   </li>
 
 <% end %> 
    </ul>

  
  <%= yield %>
</div>
</body>
</html>
