<!DOCTYPE html>
<html ng-app="scenic">
<head>
  <title>Pennine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if current_user %>
  <script>
    var current_user = <%=raw current_user.to_json  %>
  </script>

  <% end %>

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="LayoutController">
  <div class="backgroundimage">
    <%= image_tag("backdrop6.jpg") %>
  </div>
  <div class="background">
   <div class="header">
    <div class="navleft" ><!-- for tablets-->
      <a class="btn-navbar dark" class="hamburger hamInactive" ng-click="onThePhone('on')">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="phonemenu" ng-show="phonemenu">
        <nav class="phonelinks" > 

          <a ng-click="onThePhone('off')" ng-href="/#new">
          <div class="primary">new</div>
          <div class="secondary">Upload your own trail to the site</div>
          </a>
          
            <a ng-click="onThePhone('off')" ng-href="/#map">
            <div class="primary">map</div>
            <div class="secondary">Systemwide trail map</div>
         </a>
          
         <a ng-click="onThePhone('off')" ng-href="/#trails">
         <div class="primary">trails</div>
          <div class="secondary">All available trails</div>
          </a>
         <% if user_signed_in? %> 
       <a ng-click="onThePhone('off')" ng-href="#users/<%=current_user.id%>">
       <div class="primary">profile</div>
            <div class="secondary">Bookmarks, Completed and Uploaded Trails</div>
        </a>
<%end%>
          <% if user_signed_in? %>
        <li class="primary"><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
      <% else %>     
        <li class="primary"><a ng-href="/#login">Sign In</a></li>
      <% end %> 
        </nav><!-- close of links -->
      </div><!-- close of nav-menu max-width isActive-->
    </div><!-- close of navleft-->

    <div class="toptitle">scen.ic </div>
    <ul class="toplinks" ng-init="selectedLink = 'trails'">

  


      <!-- <li class="toplink"><ng-class="{'active':selectedLink === 'new'}" ng-click="selectedLink = 'new'" ng-href="/#new">add a new trail</a></li> -->
        <li class="toplink"><a ng-class="{'active':selectedLink === 'new'}" ng-click="selectedLink = 'new'" ng-href="/#new"><div class="z">add new trail</div></a></li>
      <li class="toplink"><a ng-class="{'active':selectedLink === 'map'}" ng-click="selectedLink = 'map'" ng-href="/#map"><div class="z">map</div></a></li>
      <li class="toplink"><a ng-class="{'active':selectedLink === 'trails'}" ng-click="selectedLink = 'trails'" ng-href="/#trails"><div class="z">discover</div></a></li>
      <% if user_signed_in? %>      
      <li class="toplink"><a ng-class="{'active':selectedLink === 'profile'}" ng-click="selectedLink = 'profile'" ng-href="#users/<%=current_user.id%>"><div class="z"><%=current_user.name.split[0]%>'s profile</div></a></li>
      <% end %> 
      <% if user_signed_in? %>
        <li class="toplink"><div class="z"><%= link_to "sign out", destroy_user_session_path, :method => :delete %></div></li>
      <% else %>     
        <li class="toplink"><a ng-href="/#login"><div class="z">Sign in</div></a></li>
      <% end %> 
   </ul>

 </div>
 
 <ui-view></ui-view>
</div>
</body>
</html>
